###########################
#pattern ignore
###########################
/**/.*
/**/*.o
/**/*.so
/**/*.a
/**/*.cbp
/**/*.cmake
/**/*.txt
/**/*.log
/**/a.out

###########################
#folders ignore
###########################
cmake-build-debug/
googletest/
lib/
inc/
shl/
bin/

###########################
#defined files
###########################
