###########################
#pattern ignore
###########################
/**/.*
/**/*.o
/**/*.so
/**/*.a
/**/*.cbp
/**/*.cmake
/**/*.txt
/**/*.log
/**/a.out
/**/Makefile

###########################
#folders ignore
###########################
cmake-build-debug/
googletest/
lib/
inc/
shl/
bin/
CMakeFiles/

###########################
#defined files
###########################
doori_sample/ping
doori_sample/pong

